/* articleStyles.css */

.article-content img,
.article-content video {
  max-width: 100%;
  height: auto;
}

.article-content {
  overflow-wrap: break-word;
}

@media (min-width: 600px) {
  .article-content {
    font-size: 14px; /* Ajusta el tamaño de la fuente para pantallas más grandes si es necesario */
  }
}